.header {
    background: #bbbbbb;
}
.header
.logo img{
    position: relative;
    top: 0;
    left: 0;
    /* logo border */
    /* border: 1px solid #000; */
    /* logo border radius */
    /* border-radius: 50%; */
    /* logo background color */
    /* background-color: #fff; */
    /* logo padding */
    padding: 10px;
    /* logo width */
    width: 10rem;
}
.header
.navbar {
    /* navbar background color */
    background-color: rgb(171, 213, 250);
    /* navbar border */
    border: 1px solid #000;
    position: relative;
}
.header
.navbar ul{
    /* navigation bar */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    justify-content: end;

}
.header
.navbar li{
    float: left;
}

.header
.navbar ul li button, .navbar ul li a button{
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    /* main background color */
    background-color: rgba(255, 255, 255, 0.884);
    /* main border */
    position: relative;
    border: 1px solid #000;
    height: 100 %;


}