.header {
    border-color: #000000;
    background: black;
    
    
}

.header .logo{
    background: linear-gradient(black, rgb(79, 74, 74), black)
    /* gradient from below */
    /* background: #000000; */
    
    

}
.header .logo img{
    /* background-color: #000000; */
    /* border-color: #000000; */
    width: 15rem;

}

.header .navbar ul li button,
.header .navbar ul li a button {
    color: #ffffff;
    /* background-color: #000000; */
    border-color: #ffffff;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    background-color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;

}

.header .navbar ul li button.active {
    color: #ffffff;
    background-color: #3c3737;
    border-color: #ffffff;

}

.header .navbar ul li button:hover,
.header .navbar ul li a button:hover {
    color:  rgb(218,165,32);
    background-color: #3c3737;
    border-color: #f7ecec;
    transform: scale(1.1);
}

/* allign items horizontally */
.header .navbar ul li {
    display: inline-block;
    margin: 0 0.5rem;
}




